html, body
{
  width: 600px;
  height: 270px;
  border:0;
  margin: 0px;
  padding: 0px;

  font:15px Sans-Serif;
  overflow-y: auto;
  overflow-x: hidden;
  background: white;
  background: rgb(238, 238, 238);
}
/* 
b {
  font-weight: 500;
} */

.notes {
  position: relative;
  background: white;
  /* background: #e33636; */
}

input {
  font-size: 12px;
  outline: none;
}

table
{
  margin: 0;	
  padding: 0;
  border-collapse:collapse;
}

.list-view, .edit-view, .templates, .details-view
{
  display: none;
}

.scroll{
  width: 3px;
  min-height: 20px;
  position: absolute;
  right: 2px;
  background: #07a698;
  border-radius: 4px;
  /* opacity: 0.3; */
  /* background: rgba(7, 166, 152, 0.1); */
  pointer-events: none;
  /* background: gray; */


  background: #b9e6e2;
}

.list-items
{
  width: 100%;
  height: 244px;
  overflow-y: scroll;
  position: relative;
  overflow-y: hidden;
  overflow-x: hidden;
}

.list-items2 {
  width: 100%;
}

.list-view .list-item,
.list-view .hold .list-item:hover
{
  border-bottom: 1px solid rgba(7, 166, 152, 0.1);
  line-height: 25px;
  height: 25px;
  padding-left: 10px;
  background:inherit;
  color: inherit;
  cursor: inherit;

  border-bottom: 1px dotted rgba(7, 166, 152, 0.15);
}

.hold {
  cursor: pointer;
}

.drag
{
  position: absolute;
  left: 5px;
  right: 10px;
  opacity: 1 !important;
}

.alert {
  position: absolute;
  /* top: 5px; */
  /* bottom: 5px; */
  left: 5px;
  right: 10px;
  /* background: #e3363699; */
  background: #f1bebef2;
  border-radius: 5px;
  padding: 5px;
  color: #b50404;
}

.list-view .list-item:hover,
.hold .list-item.drag, .hold .list-item.drag:hover
{
  /* background:rgba(7, 166, 152, 0.1); */
  /* border-bottom: 1px solid transparent; */
  cursor: pointer;
  color: #07a698;
  background: rgba(7, 166, 152, 0.05);
}

.list-view .list-item:active {
  background: rgba(7, 166, 152, 0.1);
  margin-left: -1px;
  margin-right: -1px;
  /* opacity: 0.5; */
}

.list-view .list-item.edit-item:hover
{
  background: transparent;
  cursor: default;
  border-bottom: 1px solid rgba(7, 166, 152, 0.1);
}

.list-item .date-time
{
  float: right;
  margin-right: 6px;
  color:#07a698;
  font-size: 11px;
}

.list-item .list-title
{
  max-width: 400px;
  /* background: yellow; */
  display: inline-flex;
  /* white-space: nowrap; */
  overflow: hidden;
  height: 25px;
}

.list-controls
{
  position: relative;
  left: 0px;
  height: 25px;
  text-align:center;
  border-bottom: 1px solid rgba(7, 166, 152, 0.1);
}

.list-controls span
{
  color: #07a698;
  line-height: 23px;
}

.left {
  padding-left: 15px;

  position: absolute;
  left: 2px;
  background-position: 0px 4px;
  z-index: 1;
}

.back
{
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAHUlEQVR42mNgGBmAY9m0/yA8qpkemkcNobEhNAMA4aIxw3jfnaoAAAAASUVORK5CYII=);
  padding-left: 15px;
  width: inherit;
  /* float: left; */
  background-position: left;
  /* margin-left: 5px; */
  position: absolute;
  top: 0px;
  left: 5px;
  line-height: 26px;
}

.back:hover
{
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAHUlEQVR42mNgGBngsZnZfxAe1UwPzaOG0NgQmgEAyyoytXm7VbsAAAAASUVORK5CYII=);
}

.delete
{
  /* background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABUAAAAVCAYAAACpF6WWAAAARklEQVR42mNgoCfgWDq1gWPZtP84MVCedEPxaIRZSJwhFGKcBpMVVPj00cVQZD4u9qiho4aOGjqghg7iAoVQaU/NWoBUAACMyPE/lOuBQQAAAABJRU5ErkJggg==); */
  /* background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAPBAMAAADJ+Ih5AAAAAXNSR0IB2cksfwAAAAlwSFlzAAALEwAACxMBAJqcGAAAAA9QTFRFAAAACJ2NCKaWCKOTCJ+P4nTQOQAAAAV0Uk5TAID/gIBHkZ8MAAAALklEQVR4nGNgQAAhJSUBMEORgVEBSDEpgQGQBeKBCQSDiYmJeAaGdiOQwQ4IqwE46gTPLFa70AAAAABJRU5ErkJggg=='); */
  
  /* background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAAVAgMAAADZZz1CAAAAAXNSR0IB2cksfwAAAAlwSFlzAAALEwAACxMBAJqcGAAAAAlQTFRFAAAACKGRCKaWyKkn7AAAAAN0Uk5TAID/7PezGAAAACxJREFUeJxjYEAGUqsmAEkVhgQGBq5Vq1Y1MDAxICEOhSYySCTEuGrVShT7ADk4DHttXl4AAAAAAElFTkSuQmCC'); */
  /* background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAAVAgMAAADZZz1CAAAAAXNSR0IB2cksfwAAAAlwSFlzAAALEwAACxMBAJqcGAAAAAxQTFRFAAAACJ+PCKaWAKKSD+DT6AAAAAR0Uk5TAID/P3fkrVUAAAAvSURBVHicY2BABlKrJgBJFYYEBgauVatWNTAwMSAhDoUmMkgwYgQj5qxVy1HsAwA1Eww5FxMNCgAAAABJRU5ErkJggg=='); */
  /* background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAAVAgMAAADZZz1CAAAAAXNSR0IB2cksfwAAAAlwSFlzAAALEwAACxMBAJqcGAAAAAlQTFRFAAAACJ2NCKaWtreaTAAAAAN0Uk5TAID/7PezGAAAACxJREFUeJxjYEAGUqsmAEkVhgQGBq5Vq1Y1MDAxICEOhSYySCTEuGrVShT7ADk4DHttXl4AAAAAAElFTkSuQmCC'); */
  
  /* background-image: url("../img/delete.svg"); */

  position: absolute;
  /* width: 21px; */
  width: 30px;
  right: 5px;
}

.delete svg {
  margin-top: 3px;
}

.delete:hover
{
  /* background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABUAAAAVCAYAAACpF6WWAAAARElEQVR42mNgoCd4bGbWAMT/8eAGcgzFqRFmIbGGUIRxGkxmUP0nT5JahiLzcbFHDR01dNTQATV0UBcoDWSWpQ0MtAYA82P170MEKcgAAAAASUVORK5CYII=); */
  /* background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABUAAAAVCAYAAACpF6WWAAAARElEQVR42mNgoCd4bGbWAMT/8eAGcgzFqRFmIbGGUIRxGkxmUP0nT5JahiLzcbFHDR01dNTQATV0UBcoDWSWpQ0MtAYA82P170MEKcgAAAAASUVORK5CYII='); */
  /* background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAAVCAYAAACkCdXRAAAATElEQVR42mNgGFLgsZlZAxD/x4MbSDEMpwaYRcQYQBbGaSCJwfGfPElKDCOVPWrYqGEDbhg1ckADqUUVbklTU3siyjJ4mQZSPzRKaACNXtMph6my1QAAAABJRU5ErkJggg=='); */
  /* background-image: url("../img/delete-r.svg"); */
}

.delete:disabled {
  /* background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAAVCAYAAACkCdXRAAAATElEQVR42mNgGFLgsZlZAxD/x4MbSDEMpwaYRcQYQBbGaSCJwfGfPElKDCOVPWrYqGEDbhg1ckADqUUVbklTU3siyjJ4mQZSPzRKaACNXtMph6my1QAAAABJRU5ErkJggg=='); */
}

.sort,
.list-view .hold .list-item:hover .sort
{
  float: left;
  width: 25px;
  height:25px;
  margin-right: 5px;
  margin-left: -5px;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABkAAAAZCAYAAADE6YVjAAAAJElEQVR42mNgGAWjYBQMXsCxbNp/cvFocI0G12hwjYJRMCIBANVlZcjB6F8FAAAAAElFTkSuQmCC');
}

.sort[disabled]
{
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABkAAAAZCAYAAADE6YVjAAAAJ0lEQVR42mNgGAWjYBQMXtDS0vK/ubmZLDwaXKPBNRpco2AUjEgAAPYRcfL0crxuAAAAAElFTkSuQmCC') !important;
  /* opacity: 1.0 !important; */
  opacity: 0.5 !important;
}

.sort[disabled]:hover, .sort[disabled]:active, .list-view .list-item:hover .sort[disabled]
{
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABkAAAAZCAYAAADE6YVjAAAAJElEQVR42mNgGAWjYBQMXsCxbNp/cvFocI0G12hwjYJRMCIBANVlZcjB6F8FAAAAAElFTkSuQmCC') !important;
  opacity: 0.5 !important;
}

.list-view .list-item:hover .sort,
.list-view .hold .list-item.drag:hover .sort,
.sort:active
{
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABkAAAAZCAYAAADE6YVjAAAAJElEQVR42mNgGAWjYBQMXvDYzOw/uXg0uEaDazS4RsEoGJEAAJd7Z7exMPnIAAAAAElFTkSuQmCC');
}

.to-note, 
.list-view .list-item.edit-item:hover .to-note,
.list-view .hold .list-item:hover .to-note
{
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAG0lEQVR42mNgGJ6AY9m0/yA8ashgMmRU82AHAHUSMcOJ5OQvAAAAAElFTkSuQmCC);
  float: right;
  width: 14px;
  margin-right: 7px;
}

.list-view .list-item:hover .to-note, .to-note:active
{
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAG0lEQVR42mNgGJ7gsZnZfxAeNWQwGTKqebADAFyKMrVpYhmfAAAAAElFTkSuQmCC);
}

.to-note:hover
{
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAG0lEQVR42mNgGJ7gsZnZfxAeNWQwGTKqebADAFyKMrVpYhmfAAAAAElFTkSuQmCC) !important;
}

.save-note
{
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAMElEQVR42mNgGAUkA45l0/5TpJlsA4jSjEsB0TZjU0iys5E1kO1nmEaKQ3w00RIHAFy0LT30T7pAAAAAAElFTkSuQmCC');
  width: 25px;
  float: right;
  cursor: pointer;
  /* position: relative; */
  position: absolute;
  z-index: 1;
  right: 5px;
}

.save-note:hover, .save-note:active
{
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAMElEQVR42mNgGAUkg8dmZv8p0ky2AURpxqWAaJuxKSTZ2cgayPYzTCPFIT6aaIkDACP6LhnfJ3KmAAAAAElFTkSuQmCC');
}

.loading
{
  width: 100%;
  height: 100%;
  text-align: center;
  display: none;
}

.loading img
{
  margin-top: 100px;
}

.loading div {
  margin-top: 15px;
  color: silver;
}

.disable-select
{
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.sorting-item
{
  position: absolute;
}

.button.search
{
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABYAAAAQCAYAAAAS7Y8mAAAAwElEQVR42mNgwAJYl0zJ5lg65QX70ql/QRjEBokxUALYF0/ZxbF46hPOxZMiued3SYAwiA0SA8mRZSjYpUADGOb0CWFIAsVAcmS5HORlkOvA7GXT/qPLg10OVEN6MADDE+R1bIaCAEgOpIZsg3HJk20wclBgA2QHBc0iDxocu3Emt6VTvzHM6ZEnOy1jyyAcS6auALL/sS+adJ8iw7FauHhK5qjheA3nnNcrSxPD2ZZOrWegNmCb36fLMLWeB10cALtylrO6JC/WAAAAAElFTkSuQmCC');
  float: left;
  margin-left: 5px;
}

.button.search:hover
{
  /* background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABYAAAAQCAYAAAAS7Y8mAAAAsUlEQVR42mNgwAIemZtnPzYzewHEf6H4BUiMgRLwyNR0F9CgJ4/MzCLvm5pKgDCIDRYDypFnKMSlTx5bWgqhy4HEwIaT43Kwl4Gug7L/Y1gMcfkLcgz+C/I6NkNBACr3l2yDcclTYjA8KLDGAblBQbPIgxq+G1dyA+Jvz6ys5MlPy1gyyGNz8xVA+t8jE5P7FBmOI/NkjhqO1/CnpqayNDEciOsZqA2A6Vv3lYMDD7o4AB+7nU6yXqVFAAAAAElFTkSuQmCC'); */
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABYAAAAQCAMAAAAlM38UAAAAAXNSR0IB2cksfwAAAAlwSFlzAAALEwAACxMBAJqcGAAAAEJQTFRFAAAA3zY24jY24zU14TQ04jY24DIy0i0t4zk54zY22Ccn4Tc34jY23jo64jc34zU14TMz4jQ05TU14TY24DY26kBAq36pMgAAABZ0Uk5TAFDo/brkQhES/w279h+o/t9OHV8hDIzegHgAAABgSURBVHicrc/JDsAgCATQcQGs3bf//9UWe5Jw7Byc5MUgApoQU4oBJplYhCn3GqhoFervR8agzbHjJE0hyTA8fofAGRKoalXzJMZvwWk2i7fvLOtmvWX/zw/fT49x3Xo+mHQCsbICpcwAAAAASUVORK5CYII=');
}

.button.search:active
{
  /* background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABYAAAAQCAYAAAAS7Y8mAAAAsUlEQVR42mNgwAIemZtnPzYzewHEf6H4BUiMgRLwyNR0F9CgJ4/MzCLvm5pKgDCIDRYDypFnKMSlTx5bWgqhy4HEwIaT43Kwl4Gug7L/Y1gMcfkLcgz+C/I6NkNBACr3l2yDcclTYjA8KLDGAblBQbPIgxq+G1dyA+Jvz6ys5MlPy1gyyGNz8xVA+t8jE5P7FBmOI/NkjhqO1/CnpqayNDEciOsZqA2A6Vv3lYMDD7o4AB+7nU6yXqVFAAAAAElFTkSuQmCC'); */
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABYAAAAQCAMAAAAlM38UAAAAAXNSR0IB2cksfwAAAAlwSFlzAAALEwAACxMBAJqcGAAAAEJQTFRFAAAA3zY24jY24zU14TQ04jY24DIy0i0t4zk54zY22Ccn4Tc34jY23jo64jc34zU14TMz4jQ05TU14TY24DY26kBAq36pMgAAABZ0Uk5TAFDo/brkQhES/w279h+o/t9OHV8hDIzegHgAAABgSURBVHicrc/JDsAgCATQcQGs3bf//9UWe5Jw7Byc5MUgApoQU4oBJplYhCn3GqhoFervR8agzbHjJE0hyTA8fofAGRKoalXzJMZvwWk2i7fvLOtmvWX/zw/fT49x3Xo+mHQCsbICpcwAAAAASUVORK5CYII=');
  opacity: 0.5;
}

.button.add-note
{
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAPAQMAAAABGAcJAAAAAXNSR0IB2cksfwAAAAlwSFlzAAALEwAACxMBAJqcGAAAAAZQTFRFAAAACKaWSkXFaQAAAAJ0Uk5TAP9bkSK1AAAAFUlEQVR4nGNgYGBgxED1f7AIMjAAACJSAYhVbVNgAAAAAElFTkSuQmCC');
  float: right;
  background-position: center;
  margin-right: 5px;
}
 
.button.add-note:hover
{
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAPAgMAAABGuH3ZAAAAAXNSR0IB2cksfwAAAAlwSFlzAAALEwAACxMBAJqcGAAAAAlQTFRFAAAA4zY24jY2BFJqlQAAAAN0Uk5TAP//RFDWIQAAABZJREFUeJxjYAADRnyEaGhoAgElIAAAK60BLErYw4QAAAAASUVORK5CYII=');
}
/*
.search-button:active
{
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABYAAAAQCAYAAAAS7Y8mAAAAsUlEQVR42mNgwAIemZtnPzYzewHEf6H4BUiMgRLwyNR0F9CgJ4/MzCLvm5pKgDCIDRYDypFnKMSlTx5bWgqhy4HEwIaT43Kwl4Gug7L/Y1gMcfkLcgz+C/I6NkNBACr3l2yDcclTYjA8KLDGAblBQbPIgxq+G1dyA+Jvz6ys5MlPy1gyyGNz8xVA+t8jE5P7FBmOI/NkjhqO1/CnpqayNDEciOsZqA2A6Vv3lYMDD7o4AB+7nU6yXqVFAAAAAElFTkSuQmCC');
  opacity: 0.5;
} */

.search-notes
{
  border: none;
  width: 230px;
  position: absolute;
  left: 35px;
  top: 2px;
  /* width: 100%; */
  /* left: 0px; */
  /* text-align: center; */
  /* border-bottom: 1px solid transparent; */
  font: 15px sans-serif;
  color: #07a698;
  padding-bottom: 3px;
  text-decoration: underline;
  display: none;
  /* margin-left: -40px; */
}

.search-notes:focus, .button.search:focus
{
  outline: none;
}

/* .validator {
  color: #e33636;
  top: 1px;
  display: none;

  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);

  background: #e33636;
  color: white;
  padding: 2px 10px;
  border-radius: 4px;
  pointer-events: none;
}

.validator:before {
  bottom: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;

	border-color: transparent;
	border-bottom-color: #e33636;
	border-width: 8px;
	margin-left: -8px;
} */

.required {
  animation: colorchange 1.5s;
}

.hidden {
  visibility: hidden;
  position: fixed;
  left: 1000px;
}

/* element {
  --main-text-color: rgba(7,166,152,0.34);
} */

@keyframes colorchange
{
  /* 0%   { border-bottom: 1px solid #e3363699; } */
  0% {
    /* border-bottom: 1px solid #e3363673; */
    /* background: #e3363603; */
    /* --main-text-color: #e3363699; */
    /* --main-text-color: rgba(227,54,54,0.6); */
    border-bottom: 1px solid #e3363699;
  }


  100% { border-bottom: 1px solid transparent; }
}

::-webkit-input-placeholder
{
  /* color: rgba(7, 166, 152, 0.2); */
  /* font: 13px 'Quicksand2', sans-serif; */
  font: 13px 'Ubuntu2', sans-serif;
  /* color: #07a698; */
  color: #07a69857;
   /* opacity: 0.2;
  color: var(--main-text-color); */
}