.notes {
  display: flex;
  flex-wrap: wrap;
}

list-view {
  width: 250px;
  height: 100vh;
}

.list-view {
  height: 100%;
}

details-view {
  flex: 1 1 250px;
  height: 100vh;
}

.details-view {
  height: 100%;
}

.list-view .list-item,
.list-view .hold .list-item:hover {
  border-radius: 4px;
  border-left-width: 2px;
}

.list-item .list-index, 
.list-item .list-index + div,
.list-item .date-time,
.details-view .head .link.back:not(.cancel) {
  display: none;
}

.list-items .list-item:active {
  opacity: 1 !important;
}

.list-items list-item:has(+ .selected:not(.drag)),
.list-items .selected:not(.drag) {
  border-color: transparent;
}

.list-items .selected .list-item, 
.list-items .selected .list-item:hover,
.list-items .selected .list-item:active {
  color: var(--base-bright-color);
  // background: var(--base-highlight-color);
  background: var(--editor-selection-background);
  // border-color: transparent;
  cursor: default !important;
}

.list-view .drag.selected .list-item { 
  background: var(--editor-selection-background) !important;
  border-left-color: var(--editor-selection-background);
  border-right-color: var(--editor-selection-background);
}

.list-view .list-content {
  margin-left: 4px;
  margin-right: 3px;
  height: calc(100% - 25px);
}

.list-view .list-scroll {
  box-shadow: none;
  border-width: 1px;
  border-color: var(--base-background-stroke);
  max-height: calc(100% - 8px);
  border-radius: 8px;
}

.list-scroll::-webkit-scrollbar {
  border-radius: 8px !important;
}

.list-scroll::-webkit-scrollbar-track {
  border-radius: 8px !important;
  margin-top: 4px;
  margin-bottom: 4px;
}

// .list-view .list-scroll .list-items {
//   border: 1px solid var(--base-tile-background);
// }

.details-view .head {
  text-align: left;
  padding-left: 10px;
}

.details-view .head .cancel {
  margin-left: 0px;
  position: relative;
  left: 0 !important;
  margin-right: 4px;
}

.details-view .head .button.add svg,
.details-view .head .cancel svg {
  margin-top: 4px;
}

.head .controls-group {
  margin-left: 45px;
  margin-right: 45px;
}

.details-view .head .button.save {
  position: relative;
  float: none;
  right: 0;
}


.details-view .head .checkbox.edit {
  right: 43px;
}

.details-view .head .checkbox.edit svg {
  margin-left: 4px;
}

.details-view .head .button.delete {
  right: 15px;
}

.details-view .content {
  border-left-color: var(--base-background-stroke);
  border-bottom-color: var(--base-background-stroke);
  border-right-color: var(--base-background-stroke);
  height: calc(100% - 33px);
  margin-right: 5px;
}

.details-view ::-webkit-scrollbar {
  width: 12px;
}

.details-view ::-webkit-scrollbar-thumb {
  border-width: 4px;
}

.cm-editor, 
.content-preview,
.visual-editor {
  height: 100% !important;
  font-size: 14px !important;
}

.ProseMirror {
  min-height: 224px;
}

details-view[data-scroll='true'] {
  .head {
    box-shadow: none;
  }

  .details-view .head:before {
    height: 26px;
  }

  .content {
    border-top-color: var(--base-background-stroke);
  }

  .dropdown-menu {
    border-left: 1px solid var(--editor-menu-stroke) !important;
    border-bottom: 1px solid var(--editor-menu-stroke-dimmed) !important;
    border-right: 1px solid var(--editor-menu-stroke-dimmed) !important;
  }
}
