.menubar {
  border: 1px solid gray;
}

.menu-icon {
  // border: 1px solid silver;
  cursor: pointer;
}

.menu-icon:disabled {
  cursor: default;
}

// editable content.
.ProseMirror {
  white-space: pre-wrap;
  border: 1px solid lightblue;
}

shouting {
  font-weight: bolder;
  text-transform: uppercase;
}