/* Hide the native cursor */
.ProseMirror.vr-selection-enabled {
  caret-color: transparent;

  position: relative;
  z-index: 1;
}

/* Hide the native cursor */
.ProseMirror.vr-selection-enabled ::selection {
  background: #d7d4f055;
  background: transparent;
}

.ProseMirror-focused {
  --vr-cursor-color: #056a61;
}

.ProseMirror .vr-selection-layer {
  position: absolute;
  pointer-events: none;
  z-index: -2;
  left: 0;
  top: 0;
  contain: size style;
}

.ProseMirror .vr-selection-layer .vr-cursor {
  position: absolute;
  cursor: text;
  pointer-events: none;
  transform: translate(-0.5px);
  user-select: none;
  -webkit-user-select: none;
  border-left: 1px solid var(--vr-cursor-color);
  z-index: -1;
}

.ProseMirror .vr-selection-layer .vr-selection>* {
  position: absolute;
  background: #e9e9e9;
  z-index: -2;
}

.ProseMirror-focused .vr-selection-layer .vr-selection>* {
  background: #056a6125;
}

.ProseMirror-focused .vr-cursor-blink {
  animation: steps(1) vr-cursor-blink 1.2s infinite;
}

@keyframes vr-cursor-blink {
  50% {
    opacity: 0;
  }
}
