{
  "env": {
    "es2022": true,
    "node": true,
    "browser": true
  },
  "parserOptions": {
    "sourceType": "script"
  },
  "ignorePatterns": [
    "**/*.json",
    "**/node_modules"
  ],
  "overrides": [
    {
      "files": ["src/**/*.ts"],
      "extends": [
        "eslint:recommended",
        "plugin:@typescript-eslint/eslint-recommended",
        "plugin:@typescript-eslint/recommended",
        "plugin:import/warnings"
      ],
      "parser": "@typescript-eslint/parser",
      "plugins": ["@typescript-eslint"],
      "parserOptions": {
        "sourceType": "module"
      },
      "globals": {
        "EventListener": "readonly",
        "AddEventListenerOptions": "readonly",
        "IDBTransactionMode": "readonly",
        "NodeJS": "readonly"
      },
      "rules": {
        "no-bitwise": "error",
        "camelcase": ["error", { "properties": "never" }],
        "curly": "error",
        "eqeqeq": "error",
        "wrap-iife": ["error", "any"],
        "indent": ["error", 2, { "SwitchCase": 1 }],
        "@typescript-eslint/no-use-before-define": "error",
        "no-caller": "error",
        "quotes": ["error", "single", { "allowTemplateLiterals": true }],
        "semi": ["error", "always"],
        "no-undef": "error",
        "strict": ["error", "safe"],
        "no-duplicate-imports": "error",
        "eol-last": "error",
        "no-trailing-spaces": "error",
        "object-curly-newline": ["error"],
        "max-len": ["error", { "code": 120 }],
        "space-before-blocks": "error",
        "keyword-spacing": "error",
        "arrow-spacing": "error",
        "no-multiple-empty-lines": "error",
        "object-curly-spacing": ["error", "always"],
        "@typescript-eslint/no-explicit-any": "off", // temporary solution
        "@typescript-eslint/no-unused-vars": "error",
        "lines-between-class-members":["error", "always", { "exceptAfterSingleLine": true }],
        "import/newline-after-import": ["error", { "count": 2 }],
        "import/no-duplicates": "off",
        "space-infix-ops": "error",
        "comma-spacing": "error",
        "key-spacing": "error",
        "padded-blocks": ["error", "never"],
        "padding-line-between-statements": [
          "error",
          { "blankLine": "always", "prev": "*", "next": "return" },
          { "blankLine": "always", "prev": "*", "next": "block-like" },
          { "blankLine": "always", "prev": ["block-like", "const", "let", "var"], "next": "*"},
          { "blankLine": "any",    "prev": ["const", "let", "var"], "next": ["const", "let", "var"]}
        ],
        "new-cap": [
          "error", {
            "capIsNewExceptions": [
              "Attribute",
              "Component",
              "ContentChild",
              "ContentChildren",
              "Directive",
              "Host",
              "HostBinding",
              "HostListener",
              "Inject",
              "Injectable",
              "Input",
              "NgModule",
              "Optional",
              "Output",
              "Pipe",
              "Self",
              "SkipSelf",
              "ViewChild",
              "ViewChildren"
            ]
          }
        ],
        "@typescript-eslint/member-ordering": [
          "error",
          {
            "classes": [
              "static-field",
              "decorated-field",
              "public-field",
              "public-readonly-field",
              "protected-field",
              "protected-readonly-field",
              "private-field",
              "private-readonly-field",
              "constructor",
              "decorated-method",
              "protected-instance-method",
              ["public-instance-method", "get", "set"],
              "public-method",
              "protected-method",
              "private-method"
            ]
          }
        ]
      }
    }
  ],
  "globals": {
    "chrome": "readonly"
  }
}
