.content-preview {
  outline: none;
  margin: 0px;
  resize: none;
  border: none;
  background: transparent;
  // flex: 1 1 auto;
  white-space: normal;
  word-break: break-word;
  font-weight: 400;
  width: 100%;
  min-height: 203px;
  box-sizing: border-box;
  padding: 9px 3px 0 6px;
  overflow-x: hidden;
  overflow-y: scroll;
  height: 244px !important;
  font-size: 14px;
  // font-family: monospace;
  // font-family: 'Roboto Mono', monospace, sans-serif !important;
  font-family: 'Courier', 'Roboto Mono', monospace, sans-serif !important;
  line-height: 1.4;

  position: absolute;
  // left: 0px;
  // width: 100%;
  background: white;
  z-index: 100;
}

// .content-preview .title {
//   text-align: center;
//   color: #06736a !important;
//   font-weight: bold !important;
//   font-style: normal !important;

//   font-size: x-large;
//   line-height: 1.4;
// }

.content-preview .title + p {
  margin-top: 0px;
}

.content-preview > * {
  margin-top: 0px;
  margin-bottom: 0px;
}

.content-preview ul {
  // list-style: none;
  list-style-type: "- ";
  list-style-position: outside;
  margin: 0 0;
  padding-left: 1.5em;
}

// .content-preview li::marker {
//   content: '- ';
//   color: gray;
//   // font-size: 1.2em;
// }

// .content-preview ul {
//   list-style: none;
//   margin: 0 0;
//   padding-left: 2em;
//   text-indent: -2em;
//   white-space: normal;
// }

// .content-preview ul li:before {
//   content: "-";
//   padding-right: 5px;
// }

// .content-preview ol {
//   margin: 0 0;
//   padding-left: 2em;
//   white-space: normal;
// }

// .content-preview ul li:first-child,
// .content-preview ol li:first-child {
//   padding-top: 1px;
// }

// .content-preview ul li:last-child,
// .content-preview ol li:last-child {
//   padding-bottom: 1px;
// }

// .content-preview ul.contains-task-list {
//   list-style-type: none;
//   padding-left: 15px;
// }

// .content-preview ul li.task-list-item:before {
//   content: "-";
//   display: none;
// }

// .content-preview  li.task-list-item input {
//   margin: -2px 8px 0px 0px;
//   display: inline-block;
//   vertical-align: middle;
// }

.content-preview blockquote {
  border-left: 2px solid darkgray;
  padding-left: 20px;
  margin-left: 5px;
  color: darkslategray;
}

.content-preview a {
  color: #06736a;
}

.content-preview a:hover {
  text-decoration: underline !important;
  color: #e33636;
}

.content-preview a:active {
  color: #a32626;
}

.content-preview a:visited {
  // color: #0673Aa;
  color: #06736a;
}

// .content-preview ::selection {
//   background: #d7d4f0;
// }

.content-preview ::selection {
  // background: #07a6983d;
  background: #D4E6E885;
}

.content-preview table {
  border-spacing: 0;
  border-collapse: collapse;

  display: block;
  width: 100%;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  max-width: 100%;
  overflow: auto;
}

.content-preview table tr {
  background-color: white;
  border-top: 1px solid #c6cbd1;
}

.content-preview table td, .content-preview table th {
  padding: 6px 13px;
  border: 1px solid #dfe2e5;
}

.content-preview table th {
  font-weight: 600;
  text-align: left;
}

.content-preview table tr:nth-child(2n) {
  background-color: #f6f8fa;
}

.content-preview p {
  margin: 0px 0 0px 0;
}

.content-preview :not(pre) > code {
  background: ghostwhite;
  background-color: #f6f8fa;

  border: 1px solid lightgray;
  border-radius: 2px;
  padding: 1px 4px 1px 4px;
  margin: 0;

  font-size: 13px;
  color: #06736a;
}

.content-preview pre {
  display: block;
  background: ghostwhite;
  background-color: #f6f8fa;

  border: 1px solid lightgray;
  border-radius: 2px;
  padding: 2px 7px 2px 7px;
  color: #06736a;
  margin: 3px 0px 3px 0;

  white-space: pre-wrap;
  word-break: break-word;
}

.content-preview pre,
.content-preview pre code {
  font-family: 'Courier', 'Roboto Mono', monospace, sans-serif !important;
}

.content-preview > h1 + *,
.content-preview > h2 + *,
.content-preview > h3 + *,
.content-preview > h4 + *,
.content-preview > h5 + *,
.content-preview > h6 + * {
  margin-top: 2px !important;
}

.content-preview h1, 
.content-preview h2,
.content-preview h3,
.content-preview h4,
.content-preview h5,
.content-preview h6 {
  padding-bottom: .2em;
  margin: 0;
}

.content-preview h1 {
  display: block;
  display: block;
  color: #06736a;
  font-size: x-large;
  // text-align: center;
  font-weight: bold;
  padding: 0px;
  padding-left: 15px;
}

.content-preview h2 {
  padding-left: 1em;
  padding-bottom: 0px;
  font-size: larger;
  font-weight: normal;
  // text-align: center;
  color: gray;
}

.content-preview h3 {
  padding-left: 1em;
  padding-bottom: 0px;
  // font-size: large;
  font-size: 14px;
  font-weight: bold;
}

.content-preview h4 {
  padding-left: 1em;
  padding-bottom: 0px;
  font-size: 14px;
  font-weight: normal;
  color: gray;
}

.content-preview h5, 
.content-preview h6 {
  padding-left: 1em;
  padding-bottom: 0px;
  font-size: 14px;
  color: gray;
  font-style: italic;
  font-weight: normal;
}

// .content-preview > p + ul,
// .content-preview > p + ol,
// .content-preview p + pre,
// .content-preview p + table {
//   margin-top: -20px;
// }
