.row-wrap {
  width: 100%;
  margin-bottom: 10px;
  display: flex;
}

.row-wrap > * {
  margin-left: 4px;
  margin-right: 4px;
}

.row-wrap .small-space {
  margin-left: 3px;
  margin-right: 3px;
}

.row-wrap > *:first-child {
  margin-left: 0px;
}

.row-wrap > *:last-child {
  margin-right: 0px;
}

.row-wrap .key {
  border: 1px solid var(--control-border-color);
  border-radius: 3px;
  text-align: center;
  color: var(--control-text-color);
  background-color: var(--control-input-background-color);
  cursor: text !important;
  flex: auto;
}

.row-wrap .key:invalid {
  border-color: var(--validator-error-color);
}

.row-wrap .key:disabled {
  color: var(--control-inactive-text-color) !important;
  fill: var(--control-inactive-text-color) !important;
  background-color: var(--control-inactive-background-color) !important;
  border: 1px solid var(--control-inactive-border-color) !important;
  cursor: default !important;
}

.row-wrap .key:disabled::placeholder {
  color: var(--control-inactive-text-color) !important;
}

.error {
  color: var(--validator-error-color);
  font-size: small;
  text-align: center;
  margin-top: 5px;
}
