list-item {
  // position: relative;
  border-bottom: 1px dashed var(--base-background-stroke);
  display: block;
  z-index: 1;
}

.list-view .list-item,
.list-view .hold .list-item:hover {
  line-height: 25px;
  height: 25px;
  padding-left: 10px;
  color: inherit;
  cursor: inherit;
  border-top: 1px solid var(--base-tile-background);
  border-left: 1px solid var(--base-tile-background);
  border-bottom: 1px solid var(--base-tile-background);
  border-right: 2px solid var(--base-tile-background);
  white-space: nowrap;
  overflow: hidden;
  display: flex;
  color: var(--base-text-color);
  background: var(--base-tile-background);
}

.list-view .list-item > div {
  margin-top: 1px;
  margin-bottom: -1px;
}

.list-view .list-item:hover {
  cursor: pointer;
  color: var(--base-bright-color);
  background: linear-gradient(to right, var(--base-highlight-color), var(--base-highlight-second-color));
}

.list-view .list-item:active {
  opacity: 0.5 !important;
}

.list-view .list-item.edit-item:hover {
  background: transparent;
  cursor: default;
  border-bottom: 1px solid var(--base-background-stroke);
}

.list-item .date-time {
  margin-right: 3px;
  color:var(--base-color);
  font-size: 11px;
}

.list-item:hover .date-time {
  color: var(--base-color);
}

.list-item:active .date-time,
.list-view .list-item.drag .date-time {
  color: var(--base-color);
}

.list-item .list-title {
  width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin-right: 5px;
}

.list-item .list-title .empty {
  font-style: italic; 
  opacity: 0.65 !important;
}

.list-item .sort,
.list-view .hold .list-item:hover .sort {
  width: 20px;
  height:25px;
  margin-right: 4px;
  margin-left: -5px;
  color: var(--base-color);
  fill: var(--base-color);
  cursor: grab;
}

.list-item svg {
  display: inline-block;
  vertical-align: middle;
}

.sort[disabled] {
  opacity: 0.5 !important;
}

.sort[disabled]:hover, 
.sort[disabled]:active,
.list-view .list-item:hover .sort[disabled] {
  background-color: var(--control-disabled-color);
  opacity: 0.5 !important;
  color: var(--control-disabled-color);
  fill: var(--control-disabled-color);
}

.list-view .list-item:hover .sort,
.list-view .hold .list-item.drag:hover .sort,
.sort:active,
.list-view .list-item:active .sort {
  color: var(--base-color);
  fill: var(--base-color);
}

.list-item .to-note, 
.list-view .list-item.edit-item:hover .to-note,
.list-view .hold .list-item:hover .to-note {
  width: 14px;
  margin-right: 5px;
  color: var(--base-color);
  fill: var(--base-color);
}

.list-view .drag {
  position: absolute;
  width: 100%;
  border-color: transparent;
  height: 25px;
  box-sizing: border-box;
  margin-top: 1px;
  z-index: 1000;
  // cursor: pointer;
  cursor: grabbing;
}

.list-view .drag:hover, 
.list-view .drag:hover .list-item:hover, 
.list-view .drag:hover .list-item .sort {
  cursor: grabbing !important;
}

.list-view .drag .list-item {
  background: linear-gradient(to right, var(--base-highlight-color), var(--base-highlight-second-color)) !important;
  opacity: 1 !important;
  // margin-left: 24px;
  margin-left: 4px;
  margin-right: 4px;
  padding-right: 2px;
  border-color: transparent;
  // border-color: rebeccapurple;
  border-left-color: var(--base-highlight-color);
  border-right-color: var(--base-highlight-second-color);
  // border-left: none;
  // box-shadow: -1px 2px 4px 0px var(--base-shadow-drag);
  box-shadow: 0px 4px 8px -4px var(--base-shadow-drag);
  border-radius: 3px;
  line-height: 22px !important;
  height: 23px !important;
}

.list-view .drag .list-item .sort {
  margin-left: -5px;
  margin-right: 7px;
  margin-top: -1px;
  color: var(--base-color-hover);
  fill: var(--base-color-hover);
}

.list-view .drag .list-item .button {
  line-height: 23px !important;
  height: 23px !important;
}

.list-view .drag .list-item .button.to-note {
  line-height: 21px !important;
  height: 21px !important;
}

.list-view list-item:last-child,
.list-view .placeholder:last-child {
  border-color: transparent !important;
}

.list-view .list-items .placeholder {
  border-bottom: 1px dashed var(--base-background-stroke);
  box-sizing: border-box;
  z-index: 0;
}

// .list-view .list-items .placeholder,
.hold list-item {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.list-item.new-note,
.list-item.new-note .to-note,
.list-item.new-note .sort {
  pointer-events: none;
  // background: var(--control-selected-background);
  fill: var(--base-inactive-color);
}
