.visual-editor {
  outline: none;
  margin: 0px;
  resize: none;
  border: none;
  background: transparent;
  white-space: normal;
  word-break: break-word;
  font-weight: 400;
  width: 100%;
  min-height: 203px;
  box-sizing: border-box;
  padding: 9px 3px 0 6px;
  overflow-x: hidden;
  overflow-y: scroll;
  height: 244px !important;
  font-size: 14px;
  font-family: 'Courier', 'Roboto Mono', monospace, sans-serif !important;
  line-height: 1.4;
}

.visual-editor > .ProseMirror-focused {
  outline: none;
  // background-color: #c6cbd1;
}

.ProseMirror {
  word-wrap: break-word;
  white-space: pre-wrap;
  -webkit-font-variant-ligatures: none;
  font-variant-ligatures: none;
  padding: 1px;
  cursor: text;
  min-height: 232px;
}

.visual-editor .title + p {
  margin-top: 0px;
}

.visual-editor > * {
  margin-top: 0px;
  margin-bottom: 0px;
}

.visual-editor ul, 
.visual-editor ol {
  margin: 0 0;
  padding-left: 1.5em;
}

.visual-editor ul {
  list-style-type: "- ";
  list-style-position: outside;
}

.visual-editor ol {
  padding-left: 2em;
}

.visual-editor li::marker {
  color: #06736a;
}

.visual-editor blockquote {
  border-left: 2px solid darkgray;
  padding-left: 20px;
  margin-left: 5px;
  color: darkslategray;
}

.visual-editor a {
  color: #06736a;
}

.visual-editor a:hover {
  text-decoration: underline !important;
  color: #e33636;
}

.visual-editor a:active {
  color: #a32626;
}

.visual-editor a:visited {
  // color: #0673Aa;
  color: #06736a;
}

.visual-editor ::selection {
  background: #d7d4f0;
}

.visual-editor table {
  border-spacing: 0;
  border-collapse: collapse;

  display: block;
  width: 100%;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  max-width: 100%;
  overflow: auto;
}

.visual-editor table tr {
  background-color: white;
  border-top: 1px solid #c6cbd1;
}

.visual-editor table td, .visual-editor table th {
  padding: 6px 13px;
  border: 1px solid #dfe2e5;
}

.visual-editor table th {
  font-weight: 600;
  text-align: left;
}

.visual-editor table tr:nth-child(2n) {
  background-color: #f6f8fa;
}

.visual-editor p {
  margin: 0px 0 0px 0;
}

.visual-editor :not(pre) > code {
  background: ghostwhite;
  background-color: #f6f8fa;

  border: 1px solid lightgray;
  border-radius: 2px;
  padding: 1px 4px 1px 4px;
  margin: 0;

  font-size: 13px;
  color: #06736a;
}

.visual-editor pre {
  display: block;
  background: ghostwhite;
  background-color: #f6f8fa;

  border: 1px solid lightgray;
  border-radius: 2px;
  padding: 2px 7px 2px 7px;
  color: #06736a;
  margin: 3px 0px 3px 0;

  white-space: pre-wrap;
  word-break: break-word;
}

.visual-editor pre,
.visual-editor pre code {
  font-family: 'Courier', 'Roboto Mono', monospace, sans-serif !important;
}

.visual-editor > h1 + *,
.visual-editor > h2 + *,
.visual-editor > h3 + *,
.visual-editor > h4 + *,
.visual-editor > h5 + *,
.visual-editor > h6 + * {
  margin-top: 2px !important;
}

.visual-editor h1, 
.visual-editor h2,
.visual-editor h3,
.visual-editor h4,
.visual-editor h5,
.visual-editor h6 {
  padding-bottom: .2em;
  margin: 0;
}

.visual-editor h1 {
  display: block;
  display: block;
  color: #06736a;
  font-size: x-large;
  // text-align: center;
  font-weight: bold;
  padding: 0px;
  padding-left: 15px;
}

.visual-editor h2 {
  padding-left: 1em;
  padding-bottom: 0px;
  font-size: larger;
  font-weight: normal;
  // text-align: center;
  color: gray;
}

.visual-editor h3 {
  padding-left: 1em;
  padding-bottom: 0px;
  // font-size: large;
  font-size: 14px;
  font-weight: bold;
}

.visual-editor h4 {
  padding-left: 1em;
  padding-bottom: 0px;
  font-size: 14px;
  font-weight: normal;
  color: gray;
}

.visual-editor h5, 
.visual-editor h6 {
  padding-left: 1em;
  padding-bottom: 0px;
  font-size: 14px;
  color: gray;
  font-style: italic;
  font-weight: normal;
}
