.CodeMirror {
  height: 243px !important;
  line-height: 18px;
  padding: 0px !important;
  padding: 0px !important;
  padding-left: 3px !important;
  padding-right: 3px !important;

  font-size: 13px !important;
  font-family: 'Roboto Mono', 'Menlo', 'PT Mono', monospace, sans-serif !important;
  // border: none !important;
  border-radius: 0 !important;
}

.CodeMirror-wrap {
  border-top: 1px solid transparent;
}

.CodeMirror-scroll {
  padding-bottom: 50px !important;
  overflow: scroll !important;
  margin-bottom: -50px !important;
  margin-right: -50px !important;
}

.CodeMirror-cursor {
  border-left: 0 !important;
  width: 2px !important;

  border-radius: 4px !important;
  // background-color: #03534e;
  background-color: #023a36;
  opacity: 0.75;
  margin-left: -1px;
}

.CodeMirror-selected {
  background: #d9d9d9;
}

.CodeMirror-focused .CodeMirror-selected {
  background: #d9e9e9;
}

.CodeMirror-line::selection, 
.CodeMirror-line > span::selection, 
.CodeMirror-line > span > span::selection {
  background: #d9e9e9; 
}

.CodeMirror-code > .CodeMirror-line:first-child {
  text-align: center;
}

.CodeMirror-code > .CodeMirror-line:first-child > span {
  font-weight: bold;
  font-style: normal;
  font-size: 16px;
  line-height: 21px;
}

.CodeMirror-code > .CodeMirror-line:first-child > span::before {
  content: ' ';
  display: block;
  height: 5px;
}

.CodeMirror-code > .CodeMirror-line:first-child > span::after {
  content: ' ';
  display: block;
  height: 10px;
  margin-bottom: -21px;
}

.CodeMirror-code > .CodeMirror-line:first-child span {
  color: #06736a;
}

.CodeMirror-line .cm-link {
  // color: #00c;
  color: #06736a !important;
  text-decoration: none;
}

.CodeMirror-line .cm-header {
  color: black;
}

.CodeMirror-line .cm-url {
  color: #a11 !important;
  // color: #e33636;
}

//.cm-null 
.cm-spell-error {
  background: none !important;
  border-bottom: 1px dashed red !important;
}

// .cm-bracket, 
.cm-tag {
  color: dimgray !important;
  border-bottom: 1px dashed red !important;
}

.cm-comment, 
.cm-comment.cm-spell-error {
  background: none !important;
  color: dimgray;
}

// .cm-formatting {
//   opacity: 0.25;
// }
