$themes: (
  light: (
    'body-background': silver,
    'base-color': #07a698,
    'base-color-dark': #06736a,
    'base-color-hover': #e33636,
    'base-color-active': #e3363685,
    'base-background': #fbfbfd,
    'base-tile-background': white,
    'base-background-stroke': #07429813, // #EEF4F2
    'base-background-second-stroke': #EEF4F2, // #d7e9e995
    'base-text-color': black,

    'base-scrollbar': #D6D6D6,
    'base-scrollbar-hover': #555,

    'base-shadow': rgba(0, 0, 0, 0.4),
    'base-shadow-tile': #056a6115,
    'base-shadow-drag': #cdcdcd,

    'base-highlight-color': rgba(#07a698, .08), // 347a7b
    'base-highlight-second-color': transparent,

    'control-disabled-color': #d7e9e9, //rgba(#07a698, .25),
    'control-disabled-background': transparent,
    'control-disabled-stroke': rgba(#EEF4F2, .6),
    'control-active-background': rgba(#07a698, .06), //#fbfeff

    'editor-background': white,
    'editor-color-heading': gray,
    'editor-color-subtitle': gray,

    'editor-quote-color': dimgray,
    'editor-quote-background': #f6f8fa,
    'editor-quote-stroke': lightgray,

    'editor-selection-cursor': #056a61,
    'editor-selection-background': #D4E6E885,
    'editor-selection-stroke': #BBDBDC,
    'editor-inactive-selection-background': #e9e9e9,
    'editor-inactive-selection-stroke': #d9d9d9,

    'editor-menu-focus': #06736a,
    'editor-menu-stroke': #07429813,
    'editor-menu-stroke-dimmed': white,
    'editor-menu-stroke-scrolled': transparent,

    'editor-text-url': #219,
  ),
  dark: (
    'body-background': #0C0E12, // #0C0E12, //1B1C1D, 28292A, 22262B
    'base-color': #07a698,
    'base-color-dark': #14968b,
    'base-color-hover': darken(#c6c7cF, 25%), //rgba(#c6c7cF, 0.75), //rgba(#c6538c, 0.85),
    'base-color-active': darken(#c6c7cF, 45%), //rgba(#c6c7cF, 0.45),
    'base-background': #202429, // 22262B, 202429
    'base-tile-background': #25292E,
    'base-background-stroke': rgba(#31363C, .65), // #EEF4F2
    'base-background-second-stroke': rgba(#31363C, .85), // #d7e9e995
    'base-text-color': #B9B9BB,

    'base-scrollbar': #747474,
    'base-scrollbar-hover': #A4A8AD,

    'base-shadow': rgba(0, 0, 0, 0.5),
    'base-shadow-tile': rgba(0, 0, 0, 0.2),
    'base-shadow-drag': rgba(25, 25, 25, 1),

    'base-highlight-color': darken(#31363C, 1%), // darken(#31363C, 1%), // 347a7b
    'base-highlight-second-color': #25292E,

    'control-disabled-color': #41464C, //rgba(#07a698, .25),
    'control-disabled-background': transparent,
    'control-disabled-stroke': rgba(#31363C, .45),
    'control-active-background': rgba(#31363C, .45), //#fbfeff

    'editor-background': #25292E, // #28292A,
    'editor-color-heading': gray,
    'editor-color-subtitle': gray,

    'editor-quote-color': gray,
    'editor-quote-background': darken(#31363C, 1%),
    'editor-quote-stroke': #444a51,

    // 'editor-selection-cursor': grayscale(lighten(#14968b, 50%)), // 14968b
    'editor-selection-cursor': #EDA757, // white, // 14968b
    'editor-selection-background': #D4E6E812, // #D4E6E815, darken(#D4E6E8, 70%)
    'editor-selection-stroke': #BBDBDC20,
    'editor-inactive-selection-background': darken(#35393F, 10%),
    'editor-inactive-selection-stroke': darken(#35393F, 10%),

    'editor-menu-focus': #14968b,
    'editor-menu-stroke': rgba(#31363C, .65),
    'editor-menu-stroke-dimmed': rgba(#31363C, .65),
    'editor-menu-stroke-scrolled': rgba(#31363C, .65),

    'editor-text-url': rgb(63, 137, 207),
  )
);

@each $name, $map in $themes {
  .theme-#{$name} {
    @each $key, $value in $map {
      --#{$key}: #{$value};
    }
  }
}