.details-view {
  display: none;
  background: #07a69801;
}

.details-view .head
{
  height: 25px;
  text-align: center;
  color: #e8b600;
  color: #07a698;
  position: relative;
  line-height: 23px;
  border-bottom: 1px solid rgba(7, 166, 152, 0.1);
  border-bottom: 1px dashed #07a69857;
  border-bottom: 1px dotted rgba(7, 166, 152, 0.15);
}

.content
{
  height: 228px;

  overflow-y: hidden;
  overflow-x: hidden;
  outline: none;
  border: none;
  padding: 2px;
  resize: none;
  border: none;
  padding: 6px;
  background: transparent;
  padding-top: 10px;

  padding: 0px;
  height: 244px;
}

// -----------------------------------------------------------------------------------------------------------
// REFACTOR
// .content-description > * {
//   margin-top: 20px;
//   margin-bottom: 20px;
// }

.content-description > p {
  white-space: pre-wrap;
}

.content-description > p + ul,
.content-description > p + ol,
.content-description h1 + * {
  margin-top: -20px;
}

.content-description h1 {
  font-size: 110%;
  margin-left: 10px;
}

.content-description {
  outline: none;
  border: none;
  margin: 0;
  padding: 2px;
  resize: none;
  border: none;
  padding: 4px;
  padding-right: 7px;
  background: transparent;
  padding-top: 10px;

  flex: 1 1 auto;
  font-family: inherit;
  white-space: normal;
  word-break: break-word;

  font-size: 14px;
  font-weight: 400;
  display: inline-block;
  width: 100%;
  min-height: 203px;
  box-sizing: border-box;
  line-height: 20px;

  padding-right: 3px;
  padding-bottom: 0px;
  padding-top: 0px;
  overflow-x: hidden;
  overflow-y: scroll;
  height: 241px !important;

  font-size: 14px;
  font-family: monospace, 'Ubuntu2', sans-serif;
}

.content-description ul, ul,
.content-description ol {
  margin: -1px;
  padding-left: 30px;
  white-space: normal;
}

/* .content-description ul li:first-child::selection {
  background: red;
  height: 30px;
} */

/* .content-description ol li {
  line-height: normal;
} */

.content-description ul li:first-child,
.content-description ol li:first-child {
  padding-top: 1px;
}

.content-description ul li:last-child,
.content-description ol li:last-child {
  padding-bottom: 1px;
}

.content-description a {
  // color: dodgerblue;
  text-decoration: none;
  color: #06736a;
}

.content-description a:hover {
  text-decoration: underline !important;
}

.content-description a:visited,
.content-description a:active {
  color: dodgerblue;
  color: #06736a;
}

.content-description::selection,
.content-description ::selection,
.edit-title.details::selection {
  background: #07a6983d;
}
// -----------------------------------------------------------------------------------------------------------
.back
{
  width: inherit;
  background-position: left;
  position: absolute;
  top: 0px;
  left: 5px;
  line-height: 26px;
  font-size: 12px;
}

.back svg {
  margin-top: 4px;
  margin-bottom: -4px;
}

.button.delete {
  position: absolute;
  width: 30px;
  right: 5px;
}

.button.delete svg {
  margin-top: 3px;
}

.details-view .button.save {
  display: none;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAMElEQVR42mNgGAUkA45l0/5TpJlsA4jSjEsB0TZjU0iys5E1kO1nmEaKQ3w00RIHAFy0LT30T7pAAAAAAElFTkSuQmCC');
  width: 25px;
  float: right;
  cursor: pointer;
  position: absolute;
  z-index: 1;
  right: 5px;
}

.details-view .button.save:hover, .button.save:active {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAMElEQVR42mNgGAUkg8dmZv8p0ky2AURpxqWAaJuxKSTZ2cgayPYzTCPFIT6aaIkDACP6LhnfJ3KmAAAAAElFTkSuQmCC');
}

.details-view .cancel {
  display: none;
}

.required {
  animation: colorchange 1.5s;
}

@keyframes colorchange
{
  0% { border-top: 1px solid #e3363699; }
  100% { border-top: 1px solid transparent; }
}

@import 'editor-controlls';


// .preview-title {
//   text-align: center;
//   color: #06736a !important;
//   font-weight: bold !important;
//   font-style: normal !important;
//   max-height: 35px;
// }

.preview-title {
  text-align: center;
  color: #06736a !important;
  font-weight: bold !important;
  font-style: normal !important;
  max-height: 35px;
  font-size: 17px !important;
  margin-left: 0px !important;
  margin-top: 10px;
}