.details-view {
  // background: #07a69801;
  // background: rgb(252 252 254);
  // background: rgb(248 250 252);

  // background: rgb(251 251 253);
}

.details-view .head
{
  height: 25px;
  text-align: center;
  color: #e8b600;
  color: #07a698;
  position: relative;
  line-height: 23px;
  // border-bottom: 1px dotted #07a69835;
  border-bottom: 1px dotted transparent;
  // box-shadow: 1px 0px 4px 0px #056a6128;
  box-shadow: 0px 0px 4px 0px #056a6118;
  // box-shadow: 0px 0px 4px 0px #056a61;
  z-index: 101;
}

.description-note {
  display: none;
}

.content {
  height: 228px;

  overflow-y: hidden;
  overflow-x: hidden;
  outline: none;
  padding: 2px;
  resize: none;
  border: none;
  padding: 6px;
  background: transparent;
  padding-top: 10px;

  padding: 0px;
  height: 244px;
  position: relative !important;

  background: white;
  border-radius: 6px;
  margin: 0 0px 0 0px;
  // border: 1px dashed #d7e9e965;
  // border: 1px dashed transparent;
  box-sizing: border-box;
  // border-top: 1px dotted #07a69825;
}

.back {
  width: inherit;
  background-position: left;
  position: absolute;
  top: 0px;
  left: 0px;
  line-height: 26px;
  font-size: 13px;
}

.back svg {
  margin-top: 4px;
  margin-bottom: -4px;
  margin-left: 0px;
}

.button.delete {
  position: absolute;
  width: 28px;
  right: 5px;
}

.button.delete svg {
  margin-top: 4px;
}

.details-view .button.save {
  width: 25px;
  float: right;
  cursor: pointer;
  position: absolute;
  z-index: 1;
  right: 5px;
}

.details-view .button.save svg {
  margin-top: 2px;
}

.details-view .cancel {
  left: 4px;
}

@import 'editor-controls';
@import 'codemirror';
@import 'preview';
