.editor-controlls {
  height: 100%;
  display: inline-block;
}

.editor-controlls .button {
  width: 28px;
  height: 17px;
  margin: 3px 1px 0 0;
  background: #07a69804;
  border: 1px solid #07a69809;
}

.editor-controlls .button.disabled,
.editor-controlls .button.disabled:hover,
.editor-controlls .button.disabled:active {
  cursor: inherit;
  color: #d9e9e9;
  fill:#d9e9e9;
  background: #07a69804;
  border-color: #07a69804;
  opacity: 1;
}

.editor-controlls .button:hover {
  background: rgba(7, 166, 152, 0.055);
  color: #07a698;
  fill:#07a698;
}

.editor-controlls .button:active {
  background: rgba(7, 166, 152, 0.17);
  border: 1px solid rgba(183, 241, 237, 0.1);
  color: #07a698;
  fill:#07a698;
}

.editor-controlls fieldset {
  border: none;
  display: inline-block;
  padding: 0;
  margin: 0;
  
  padding-left: 2px;
  padding-right: 2px;
}

.editor-controlls fieldset input:first-child,
.editor-controlls fieldset button:first-child,
.editor-controlls fieldset div:first-child {
  border-top-left-radius: 4px; 
  border-bottom-left-radius: 4px; 
}

.editor-controlls fieldset input:last-child,
.editor-controlls fieldset button:last-child,
.editor-controlls fieldset div:last-child {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.checkbox {
  cursor: pointer;
  position: relative;
  
  width: 28px;
  height: 17px;
  margin: 3px 1px 0 0;
  border: 1px solid transparent;

  color: #07a69875;
  fill:#07a69875;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.checkbox.edit {
  position: absolute;
  right: 35px;
}

.checkbox.sync {
  position: absolute;
  right: 63px;
}

.checkbox input {
  cursor: pointer;
  position: absolute;
  height: 0;
  width: 0;
  visibility: hidden;
}

.checkbox span {
  position: absolute;
  top: 0;
  left: 0;
  width: 28px;
  height: 17px;
}

.checkbox input ~ .checkmark .active {
  display: none;
}

.checkbox input ~ .checkmark .inactive {
  display: block;
}

.checkbox input:checked ~ .checkmark {
  color: #07a698;
  fill:#07a698;
}

.checkbox input:checked ~ .checkmark .active {
  display: block;
}

.checkbox input:checked ~ .checkmark .inactive {
  display: none;
}