.list-view .list-item,
.list-view .hold .list-item:hover {
  line-height: 25px;
  height: 25px;
  padding-left: 10px;
  color: inherit;
  cursor: inherit;
  border-bottom: 1px dashed #07429813;
  white-space: nowrap;
  overflow: hidden;
  display: flex;
  // box-sizing: border-box;
}

.list-view .list-item:hover,
.hold .list-item.drag,
.hold .list-item.drag:hover {
  cursor: pointer;
  color: #06736a;
  background: linear-gradient(to right, #07a69810, #07a69801);
}

.list-view .list-item:active {
  opacity: 0.5 !important;
}

.list-view .list-item.edit-item:hover {
  background: transparent;
  cursor: default;
  border-bottom: 1px solid #07429813;
}

.list-item .date-time {
  margin-right: 3px;
  color:#07a698;
  font-size: 11px;
}

.list-item:hover .date-time {
  // color: seagreen;
  color: #056a61;
}

.list-item:active .date-time,
.list-view .list-item.drag .date-time {
  // color: darkgreen;
  color: #056a61;
}

.list-item .list-title {
  width: 100%;
  height: 25px;

  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin-right: 5px;
}

.list-item .list-title .empty {
  font-style: italic; 
  opacity: 0.65 !important;
}

.sort,
.list-view .hold .list-item:hover .sort {
  width: 25px;
  height:25px;
  margin-right: 5px;
  margin-left: -5px;
  background-color: #07a698;
  -webkit-mask:  url('../images/sort.svg') no-repeat 50% 50%;
  mask: url('../images/sort.svg') no-repeat 50% 50%;
}

.sort[disabled] {
  opacity: 0.5 !important;
}

.sort[disabled]:hover, 
.sort[disabled]:active,
.list-view .list-item:hover .sort[disabled] {
  background-color: gray;
  opacity: 0.5 !important;
}

.list-view .list-item:hover .sort,
.list-view .hold .list-item.drag:hover .sort,
.sort:active,
.list-view .list-item:active .sort {
  background-color: #056a61;
}

.to-note, 
.list-view .list-item.edit-item:hover .to-note,
.list-view .hold .list-item:hover .to-note {
  width: 14px;
  // margin-right: 3px;
  background-color: #07a698;
  -webkit-mask:  url('../images/forward.svg') no-repeat 50% 50%;
  mask: url('../images/forward.svg') no-repeat 50% 50%;
  margin-right: 5px;
}

.list-view .list-item.drag {
  position: absolute;
  background: linear-gradient(to right, #e9f8f7, white) !important;
  opacity: 1 !important;
  left: 2px;
  right: 1px;
  // padding-right: 5px;
  padding-right: 2px;
  border-bottom: 1px solid transparent !important;
  box-shadow: -1px 2px 4px 0px #cdcdcd;
  // box-shadow: -1px 3px 6px 0px #ddd;
  // box-shadow: -1px 3px 6px 0px #ccc;
  border-radius: 3px;
  line-height: 24px !important;
  height: 24px !important;
  z-index: 1000;
  // margin-left: 15px;
}

.list-view .list-item.drag .sort {
  margin-left: -5px;
  margin-right: 7px;
  margin-top: -1px;
  background-color: #e33636;
}

.list-view list-item:last-child .list-item,
.list-view .placeholder:last-child {
  border-color: transparent !important;
}

.list-view .list-items .placeholder {
  border-bottom: 1px dashed #07429813;
  box-sizing: border-box;
}

.hold {
  cursor: pointer;
}

// .hold .list-view .list-items {
//   margin-bottom: 3px;
// }
