.list-view {
  background: white;
}

.list-view .list-controls {
  position: relative;
  left: 0px;
  height: 25px;
  text-align:center;
  border-bottom: 1px groove rgba(7, 166, 152, 0.075);
}

.list-view .list-controls span {
  color: #07a698;
  display: inline-block;
  line-height: 24px;
}

.list-view .button.search {
  background-image: url('../images/search.png');
  float: left;
  margin-left: 5px;
}

.list-view .button.search:hover,
.list-view .button.search:active {
  background-image: url('../images/search-active.png');
}

.list-view .button.add-note {
  background-image: url('../images/add-note.png');
  float: right;
  background-position: center;
  margin-right: 5px;
}
 
.list-view .button.add-note:hover, 
.list-view .button.add-note:active {
  background-image: url('../images/add-note-active.png');
}

.list-view .search-notes {
  border: none;
  width: 230px;
  position: absolute;
  left: 35px;
  top: 2px;
  color: #07a698;
  padding-bottom: 3px;
  text-decoration: underline;
  display: none;
}

.list-view .search-notes:focus, .button.search:focus {
  outline: none;
}

.list-view .list-items {
  width: 100%;
  height: 244px;
  position: relative;
  overflow-y: scroll;
  overflow-x: hidden;
}

.list-view .list-items .no-items {
  color: #07a69835;
  text-align: center;
  padding-top: 90px;
}

.list-view .list-items .no-items .button.plus {
  background-image: url('../images/add-note.png');
  background-position: center;
  margin-bottom: -5px;
  opacity: 0.25;
}

.list-view .list-items .no-items .button.plus:hover {
  cursor: initial;
}

.list-view .template {
  display: none;
}

@import 'list-items';