.content-preview {
  outline: none;
    margin: 0;
    resize: none;
    border: none;
    background: transparent;
    flex: 1 1 auto;
    white-space: normal;
    word-break: break-word;
    font-weight: 400;
    display: inline-block;
    width: 100%;
    min-height: 203px;
    box-sizing: border-box;
    line-height: 20px;
    padding: 7px;
    padding-right: 3px;
    padding-bottom: 0px;
    padding-top: 0px;
    overflow-x: hidden;
    overflow-y: scroll;
    height: 241px !important;
    font-size: 14px;
    font-family: monospace, 'Ubuntu2', sans-serif;
}

.content-preview .title {
  text-align: center;
  color: #06736a !important;
  font-weight: bold !important;
  font-style: normal !important;
  max-height: 35px;
  font-size: 17px !important;
  margin-left: -1px !important;
  margin-top: 10px;
  margin-bottom: -10px;
}

.content-preview > p {
  white-space: pre-wrap;
  margin-top: 20px;
  margin-bottom: 20px;
}

// reviewing
.content-preview > p + ul,
.content-preview > p + ol,
.content-preview h1 + * {
  margin-top: -20px;
}

.content-preview h1 {
  font-size: 110%;
  margin-left: 10px;
}

.content-preview ul, ul,
.content-preview ol {
  margin: -1px;
  padding-left: 30px;
  white-space: normal;
}

/* .content-preview ul li:first-child::selection {
  background: red;
  height: 30px;
} */

/* .content-preview ol li {
  line-height: normal;
} */

.content-preview ul li:first-child,
.content-preview ol li:first-child {
  padding-top: 1px;
}

.content-preview ul li:last-child,
.content-preview ol li:last-child {
  padding-bottom: 1px;
}

.content-preview a {
  // color: dodgerblue;
  text-decoration: none;
  color: #06736a;
}

.content-preview a:hover {
  text-decoration: underline !important;
}

.content-preview a:visited,
.content-preview a:active {
  color: #06736a;
}

.content-preview::selection,
.content-preview ::selection,
.edit-title.details::selection {
  background: #07a6983d;
}