::-webkit-scrollbar {
  width: 7px;
}

.hidden-scroll::-webkit-scrollbar-thumb {
  visibility: hidden;
}

.hidden-scroll::-webkit-scrollbar-thumb:hover {
  visibility: initial;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border: 2px solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
  border-radius: 9999px;
  background-color: #D6D6D6;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}
