html, body {
  // background: white;
  background: silver;

  width: 600px;
  height: 270px;
  border:0;
  margin: 0px;
  padding: 0px;

  overflow: hidden;
  font: 15px 'Roboto', 'Ubuntu', Sans-Serif;
}

.hidden {
  display: none;
}

.transparent {
  opacity: 0;
}

.notes {
  background: white;
  box-sizing: border-box;
}

input, button {
  font-size: 12px;
  outline: none;
}

.disable-select {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.button, 
.link {
  padding: 0px;
  margin: 0px;
  height:24px;
  width:24px;
  line-height: 24px;
  background: transparent;
  border: none;
  cursor: pointer;
  background-position: center;
  background-repeat: no-repeat;
  color: #07a698;
  fill: #07a698;
  outline: none;
  // display: inline-block;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-family: 'Roboto', 'Ubuntu', Sans-Serif;
}

.button:hover,
.link:hover {
  color: #e33636;
  fill:#e33636;
}

.button:active,
.link:active {
  color: #e3363685;
  fill:#e3363685;
}

.animate {
  background: linear-gradient(to right, #07a69815, #07a69800 45%);
  background-size: 200% 100%;
  animation: colorChange 2.520s;
}

@keyframes colorChange
{
  0% {
    color: #06736a;
		background-position: 0% 0%;
	}
	100% {
    color: inherit;
		background-position: 100% 0%;
	}
}


@import 'list-view';
@import 'mode-mixed';
@import 'mode-compact';
@import 'mode-full';
