<div class="editor-controls">
  <fieldset><!--
    --><button action="bold" title="Bold" class="button"><include src="./images/bold.svg"></include></button><!--
    --><button action="italic" title="Italic" class="button"><include src="./images/italic.svg"></include></button><!--
    --><button action="strikethrough" title="Strikethrough" class="button"><include src="./images/strikethrough.svg"></include></button><!--
    --><button action="link" title="Link" class="button"><include src="./images/link.svg"></include></button><!--
  --></fieldset>
  <fieldset><!--
    --><button action="orderedList" title="Ordered List" class="button"><include src="./images/insertOrderedList.svg"></include></button><!--
    --><button action="unorderedList" title="Unordered List" class="button"><include src="./images/insertUnorderedList.svg"></include></button><!--
  --></fieldset>
  <fieldset><!--
    --><dropdown-menu static=" Body …" change-on="mousedown" top="23">
      <button action="paragraph" class="normal-text" value="0">Normal text</button>
      <button action="heading-1" class="title" value="1">Title</button>
      <button action="heading-2" class="subtitle" value="2">Subtitle</button>
      <button action="heading-3" class="heading-1" value="3">Heading 1</button>
      <button action="heading-4" class="heading-2" value="4">Heading 2</button>
      <button action="heading-5" class="heading-3" value="5">Heading 3</button>
    </dropdown-menu><!--
  --></fieldset>
  <fieldset><!--
    --><button action="removeFormat" title="Remove Format" class="button"><include src="./images/removeFormat.svg"></include></button><!--
  --></fieldset>
  <fieldset><!--
    --><button action="undo" title="Undo" class="button"><include src="./images/undo.svg"></include></button><!--
    --><button action="redo" title="Redo" class="button"><include src="./images/redo.svg"></include></button><!--
  --></fieldset>
</div>
