html,
body {
  background: var(--body-background);

  min-width: 800px;
  min-height: 150px;
  height: 100vh;
  border: 0;
  margin: 0px;
  padding: 0px;

  overflow: hidden;
  // font: 15px 'Roboto', 'Ubuntu', Sans-Serif;
  font-size: 15px;
  font-family: "Google Sans Text", 'Roboto', 'Ubuntu', Sans-Serif;
  font-weight: 400;
}
