html, body {
  background: var(--body-background);

  min-width: 800px;
  min-height: 150px;
  border:0;
  margin: 0px;
  padding: 0px;

  overflow: hidden;
  font: 15px 'Roboto', 'Ubuntu', Sans-Serif;
}

// .middle {
//   height: 450px;
// }

// .middle .details-view .content {
//   height: 425px;
// }

// .middle .list-view .list-content,
// .middle .details-view .content-preview,
// .middle .details-view .visual-editor,
// .middle .details-view .cm-editor {
//   height: 424px !important;
// }

// .middle .list-view .list-scroll {
//   max-height: 417px;
// }
