@font-face {
    font-family: Calibri Light TTF;
	src: url("/stylesheets/fonts/calibri_light.ttf");
}

html, body
{
	width: 600px;
    /*height: 275px;*/
    height: 260px;
	border:0;
	margin: 0px;
    padding: 0px;
	
	/* font:16px Calibri Light, Calibri Light TTF; */
	font:15px Sans-Serif;
    overflow-y: auto;
    overflow-x: hidden;
    background: white;
    background: rgb(238, 238, 238);
}

.notes {
    background: white;
}

textarea {
    font-family: Sans-Serif;
    font-size: 15px;
    /* border-color: rgb(169, 169, 169); */
}

table
{
	margin: 0;	
    padding: 0;
	border-collapse:collapse;
}

.head
{
    height: 25px;
    text-align: center;
    color: #e8b600;
    color: #07a698;
    position: relative;
    line-height: 23px;
    border-bottom: 1px solid rgba(7, 166, 152, 0.1);
}

.list-view, .edit-view, .templates, .details-view
{
    display: none;
}

.list-items
{
    /* width: 620px; */
    /*height: 240px;*/
    height: 234px;
    overflow-y: scroll;
    position: relative;
}

.list-view .list-item
{
    border-bottom: 1px solid #DBDBDB;
    border-bottom: 1px solid rgba(7, 166, 152, 0.1);
    line-height: 25px;
    height: 25px;
    padding-left: 10px;
}

.drag
{
    /*position: relative;*/
    /*margin-left: 5px;*/
    /*margin-right: 8px;*/

    position: absolute;
    left: 5px;
    right: 10px;
}

.list-view .list-item:hover, .drag
{
    background:rgba(7, 166, 152, 0.1);
    border-bottom: 1px solid transparent;
    cursor: pointer;
    color: #07a698;
}

.list-view .list-item.edit-item:hover
{
    background: transparent;
    cursor: default;
    border-bottom: 1px solid rgba(7, 166, 152, 0.1);
}

.edit-title
{
    border: none;
    width: 90%;
    height: 24px;
    background: transparent;
    margin: 0px 0px 0px 0px;
    padding-left: 40px;
}

.edit-title:focus
{
    outline: none;
}

.edit-title.details
{
    width: 80%;
    text-align: center;
    margin-left: -40px;
}

.fast-note
{
    width: 620px;
	/*height: 240px;*/
	height: 229px;

    overflow-y: scroll;
	
	outline: none;
	border: none;
	margin: 5px 0 0 0;
	padding: 2px;
	resize: none;
	border: none;
	padding: 5px;
    background: transparent;
}

.list-controls
{
    position: relative;
    left: 0px;
    height: 25px;
    text-align:center;
    border-bottom: 1px solid rgba(7, 166, 152, 0.1);

}

.list-controls span
{
    color: #07a698;
    line-height: 23px;
}

.button
{
    padding: 0px;
	margin: 0px;
    height:24px;
    background: transparent;
    border: none;
    border: none;
	cursor: pointer;

    background-position: left;
    background-repeat: no-repeat;
    color: #e8b600;
    color: #07a698;
}

.button:hover
{
    color: #e33636;
}

.button:active
{
   opacity: 0.5;
}

.button:focus
{
    outline: none;
}

.date-time
{
    float: right;
    margin-right: 6px;
    color:#07a698;
    font-size: 11px;
}


.back
{
    padding-left: 15px;

    position: absolute;
    left: 2px;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAHUlEQVR42mNgGBmAY9m0/yA8qpkemkcNobEhNAMA4aIxw3jfnaoAAAAASUVORK5CYII=);
    background-position: 0px 4px;
}

.back:hover
{
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAHUlEQVR42mNgGBngsZnZfxAe1UwPzaOG0NgQmgEAyyoytXm7VbsAAAAASUVORK5CYII=);
}

.add-note
{
    color: #e8b600;
    color: #07a698;
    /*position: absolute;*/
    /*right: 26px;*/
    /*top: 0px;*/

    position: absolute;
    right: 12px;
    top: 0px;
}

.delete
{
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABUAAAAVCAYAAACpF6WWAAAARklEQVR42mNgoCfgWDq1gWPZtP84MVCedEPxaIRZSJwhFGKcBpMVVPj00cVQZD4u9qiho4aOGjqghg7iAoVQaU/NWoBUAACMyPE/lOuBQQAAAABJRU5ErkJggg==);
    position: absolute;
    width: 21px;
    right: 7px;
}

.delete:hover
{
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABUAAAAVCAYAAACpF6WWAAAARElEQVR42mNgoCd4bGbWAMT/8eAGcgzFqRFmIbGGUIRxGkxmUP0nT5JahiLzcbFHDR01dNTQATV0UBcoDWSWpQ0MtAYA82P170MEKcgAAAAASUVORK5CYII=);
}

.sort
{
    float: left;
    width: 25px;
    height:25px;
    margin-right: 5px;
    margin-left: -5px;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABkAAAAZCAYAAADE6YVjAAAAJElEQVR42mNgGAWjYBQMXsCxbNp/cvFocI0G12hwjYJRMCIBANVlZcjB6F8FAAAAAElFTkSuQmCC');
}

.sort[disabled]
{
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABkAAAAZCAYAAADE6YVjAAAAJ0lEQVR42mNgGAWjYBQMXtDS0vK/ubmZLDwaXKPBNRpco2AUjEgAAPYRcfL0crxuAAAAAElFTkSuQmCC') !important;
    opacity: 1.0 !important;
}

.sort[disabled]:hover, .sort[disabled]:active, .list-view .list-item:hover .sort[disabled]
{
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABkAAAAZCAYAAADE6YVjAAAAJElEQVR42mNgGAWjYBQMXsCxbNp/cvFocI0G12hwjYJRMCIBANVlZcjB6F8FAAAAAElFTkSuQmCC') !important;
    opacity: 1.0 !important;
}

.list-view .list-item:hover .sort, .sort:active
{
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABkAAAAZCAYAAADE6YVjAAAAJElEQVR42mNgGAWjYBQMXvDYzOw/uXg0uEaDazS4RsEoGJEAAJd7Z7exMPnIAAAAAElFTkSuQmCC');
}

.to-note, .list-view .list-item.edit-item:hover .to-note
{
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAG0lEQVR42mNgGJ6AY9m0/yA8ashgMmRU82AHAHUSMcOJ5OQvAAAAAElFTkSuQmCC);

    width: 25px;
    float: right;
    cursor: pointer;
}

.list-view .list-item:hover .to-note, .to-note:active
{
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAG0lEQVR42mNgGJ7gsZnZfxAeNWQwGTKqebADAFyKMrVpYhmfAAAAAElFTkSuQmCC);
}

.to-note:hover
{
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAG0lEQVR42mNgGJ7gsZnZfxAeNWQwGTKqebADAFyKMrVpYhmfAAAAAElFTkSuQmCC) !important;
}

.save-note
{
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAMElEQVR42mNgGAUkA45l0/5TpJlsA4jSjEsB0TZjU0iys5E1kO1nmEaKQ3w00RIHAFy0LT30T7pAAAAAAElFTkSuQmCC');
    width: 25px;
    float: right;
    cursor: pointer;
}

.save-note:hover, .save-note:active
{
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAMElEQVR42mNgGAUkg8dmZv8p0ky2AURpxqWAaJuxKSTZ2cgayPYzTCPFIT6aaIkDACP6LhnfJ3KmAAAAAElFTkSuQmCC');
}

.loading
{
    width: 100%;
    height: 100%;
    text-align: center;
    display: none;
}

.loading img
{
    margin-top: 100px;
}

.loading div {
    margin-top: 15px;
    color: silver;
}

.disable-select
{
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.sorting-item
{
    position: absolute;
}

.search-button
{
    position: absolute;
    left: 7px;
    top: 4px;
    width: 22px;
    height: 16px;
    padding: 0px;
    border: none;
    background: transparent;
    cursor: pointer;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABYAAAAQCAYAAAAS7Y8mAAAAwElEQVR42mNgwAJYl0zJ5lg65QX70ql/QRjEBokxUALYF0/ZxbF46hPOxZMiued3SYAwiA0SA8mRZSjYpUADGOb0CWFIAsVAcmS5HORlkOvA7GXT/qPLg10OVEN6MADDE+R1bIaCAEgOpIZsg3HJk20wclBgA2QHBc0iDxocu3Emt6VTvzHM6ZEnOy1jyyAcS6auALL/sS+adJ8iw7FauHhK5qjheA3nnNcrSxPD2ZZOrWegNmCb36fLMLWeB10cALtylrO6JC/WAAAAAElFTkSuQmCC');
}

.search-button:hover
{
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABYAAAAQCAYAAAAS7Y8mAAAAsUlEQVR42mNgwAIemZtnPzYzewHEf6H4BUiMgRLwyNR0F9CgJ4/MzCLvm5pKgDCIDRYDypFnKMSlTx5bWgqhy4HEwIaT43Kwl4Gug7L/Y1gMcfkLcgz+C/I6NkNBACr3l2yDcclTYjA8KLDGAblBQbPIgxq+G1dyA+Jvz6ys5MlPy1gyyGNz8xVA+t8jE5P7FBmOI/NkjhqO1/CnpqayNDEciOsZqA2A6Vv3lYMDD7o4AB+7nU6yXqVFAAAAAElFTkSuQmCC');
}

.search-button:active
{
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABYAAAAQCAYAAAAS7Y8mAAAAsUlEQVR42mNgwAIemZtnPzYzewHEf6H4BUiMgRLwyNR0F9CgJ4/MzCLvm5pKgDCIDRYDypFnKMSlTx5bWgqhy4HEwIaT43Kwl4Gug7L/Y1gMcfkLcgz+C/I6NkNBACr3l2yDcclTYjA8KLDGAblBQbPIgxq+G1dyA+Jvz6ys5MlPy1gyyGNz8xVA+t8jE5P7FBmOI/NkjhqO1/CnpqayNDEciOsZqA2A6Vv3lYMDD7o4AB+7nU6yXqVFAAAAAElFTkSuQmCC');
    opacity: 0.5;
}

.search-notes
{
    border: none;
    width: 220px;
    position: absolute;
    left: 40px;
    top: 4px;
}

.search-notes:focus, .search-button:focus
{
    outline: none;
}

::-webkit-input-placeholder
{
    color: rgba(7, 166, 152, 0.2);
}