$themes: (
  light: (
    'body-color': #f1f3f4,
    'base-text-color': black,
    
    'base-highlight-color': #045c55,
    'base-inactive-color': #a4a7a7,

    'tile-background-color': white,
    'tile-border-color': silver,
    'tile-shadow-color': #056a6128,

    'control-input-background-color': white,
    'control-background-color': #06736a22,
    'control-border-color': #06736a94,
    'control-text-color': #045c55,

    'control-bright-color': #06736a,
    'control-transparent-color': white,

    'control-inactive-background-color': #f7f7f7,
    'control-inactive-border-color': #06736a22,
    'control-inactive-text-color': #a4a7a7,

    'control-hover-background-color': lighten(#06736a22, 0%),
    'control-hover-border-color': lighten(#06736a94, 0%),
    'control-hover-text-color': lighten(#045c55, 15%),

    'control-activated-background-color': #06736a18,
    'control-activated-border-color': #06736a44,
    'control-activated-text-color': darken(#045c55B5, 2%),

    'control-dangerous-background-color': #e336361a,
    'control-dangerous-border-color': #e3363655,

    'control-activated-dangerous-background-color': #e336362a,
    'control-activated-dangerous-border-color': #e3363665,

    'validator-error-color': #a32626,
    'validator-error-background-color': #9d232315,
    'validator-warn-color': chocolate,
  ),
  dark: (
      'body-color': #202429,
      'base-text-color': #B9B9BB,
    
      'base-highlight-color': #07a698,
      'base-inactive-color': #41464C,

      'tile-background-color': #25292E,
      'tile-border-color': rgba(#31363C, .65),
      'tile-shadow-color': rgba(0, 0, 0, 0.3),

      'control-input-background-color': #31363C,
      'control-background-color': #31363C,
      'control-border-color': #444b54,
      'control-text-color': #B9B9BB,

      'control-bright-color': lighten(#07a698, 1%),
      'control-transparent-color': #25292E,

      'control-inactive-background-color': darken(#31363C, 3%),
      'control-inactive-border-color': darken(#444b54, 10%),
      'control-inactive-text-color': #41464C,

      'control-hover-background-color': lighten(#31363C, 2%),
      'control-hover-border-color': lighten(#444b54, 5%),
      'control-hover-text-color': lighten(#B9B9BB, 15%),

      'control-activated-background-color': darken(#31363C, 2%),
      'control-activated-border-color': darken(#444b54, 5%),
      'control-activated-text-color': darken(#B9B9BB, 15%),

    'control-dangerous-background-color': #e336361a,
    'control-dangerous-border-color': #e3363655,

    'control-activated-dangerous-background-color': #e336362a,
    'control-activated-dangerous-border-color': #e3363665,

      'validator-error-color': lighten(#a32626, 15%),
      'validator-error-background-color': lighten(#9d232325, 25%),
      'validator-warn-color': lighten(chocolate, 10%),
  )
);

@each $name, $map in $themes {
  .theme-#{$name} {
    @each $key, $value in $map {
      --#{$key}: #{$value};
    }
  }
}