html, body {
  background: #f1f3f4;

  min-width: 400px;
  min-height: 150px;

  border:0;
  margin: 0px;
  padding: 0px;

  overflow: hidden;
  overflow-y: scroll;

  font: 15px 'Roboto', 'Ubuntu', Sans-Serif;
}

.row-flex {
  display: flex;
}

.row-flex-group {
  font-style: italic;
  color: #045c55;
  flex: 0 0 10em;
}

.alert {
  width: 75%;
  max-width: 850px;
  margin: 5px auto;
  border-radius: 4px;
  box-sizing: border-box;
  display: flex;
}

.alert .icon {
  flex: 0 0 24px;
  justify-content: center;
  align-items: center;
  display: flex;
}

.alert .message {
  width: 100%;
  padding: 0px;
  margin: 0px;
  font-family: 'Roboto', 'Ubuntu', Sans-Serif;
}

.alert.error {
  background-color: #9d232315;
  color: #9d2323;
  fill: #9d2323;
  padding: 5px;
  border: 1px solid #a32626;
}

fieldset {
  border: none;
  padding: 0;
  margin: 0;
}

fieldset:disabled svg {
  fill: #a4a7a7;
}

fieldset:disabled span,
fieldset:disabled label,
fieldset:disabled legend,
fieldset:disabled a,
fieldset:disabled .error,
.error.disabled,
.warning.disabled {
  color: #a4a7a7 !important;
}

fieldset:disabled {
  pointer-events: none;
}

.row {
  width: 75%;
  max-width: 850px;
  min-width: 475px;
  margin: 5px auto;
  background: white;
  border: silver;
  border-radius: 4px;
  box-shadow: 0px 0px 4px 0px #056a6128;
}

.row:last-child {
  margin-bottom: 40px;
}

input[type='radio'],
input[type='checkbox1'] {
  -webkit-appearance: none;
  appearance: none;
}

input[type='radio']:after {
  width: 7px;
  height: 7px;
  border-radius: 7px;
  top: 1px;
  left: -2px;
  position: relative;
  background-color: #f1f3f4;
  content: "";
  display: inline-block;
  visibility: visible;
  border: 3px solid #06736a64;
  border-style: double;

  transform: scale(0.75);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em var(--form-control-color);
}

input[type='radio']:checked:after {
  background-color: #06736a;
  border-color: white;

  transform: scale(1);
}

input[type='radio']:disabled + span {
  color: #a4a7a7;
}

input[type='radio']:disabled:after {
  border-color: #a4a7a7;
}

input[type='radio']:disabled:checked:after {
  background-color: #a4a7a7;
  border-color: white;
}

input[type='checkbox'] {
  -webkit-appearance: none;
  appearance: none;
  margin: 0px 4px 0px 3px;
}

input[type='checkbox']:after {
  width: 16px;
  height: 16px;
  border-radius: 2px;
  top: 2px;
  position: relative;
  background-color: #f1f3f4;
  content: "";
  display: inline-block;
  visibility: visible;
  border: 3px solid #06736a64;
  border-style: double;
  transform: scale(0.75);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em var(--form-control-color);
  box-sizing: border-box;
}

input[type='checkbox']:checked:after {
  border-width: 4px;
  background-color: #06736a;
  border-color: white;
  border-radius: 4px;
  transform: scale(0.9);
}

input[type='checkbox']:disabled + span {
  color: #a4a7a7;
}

input[type='checkbox']:disabled:after {
  // background-color: #a4a7a7;
  border-color: #a4a7a7;
}

input[type='checkbox']:disabled:checked:after {
  background-color: #a4a7a7;
  border-color: white;
}

input[type='password'] {
  font-family: small-caption;
  letter-spacing: 2.8px;
}

input[type='text'],
input[type='password'] {
  background-color: #fafafa;
  border: 1px solid #06736a64;
  border-radius: 3px;
  text-align: center;
  color: #06736a;
  cursor: text !important;
}

input[type='text']:focus,
input[type='password']:focus {
  outline: none;
}

input[type='text']:invalid,
input[type='password']:invalid {
  border-color: #e33636;
}

button,
input[type='button'] {
  background-color: #f1f3f4;
  border: 1px solid #06736a64;
  border-radius: 3px;
  text-align: center;
  color: #06736a;
  fill: #06736a;
  padding: 2px 4px 2px 4px;
  cursor: pointer;
}

button svg {
  width: 12px;
  height: 12px;
  margin-top: 1px;
  margin-bottom: -1px;
}

button,
input[type='button']:active {
  color: #045c55;
  background-color: #06736a22;
  border: 1px solid #06736a94;
}

.dangerous {
  color: #a32626 !important;
  fill: #a32626 !important;
  border-color: #e3363655 !important;
  background-color: #e336361a !important;
}

.dangerous:active {
  color: #9d2323 !important;
  fill: #9d2323 !important;
  border-color: #e3363665 !important;
  background-color: #e336362a !important;
}

select {
  border-color: #06736a55;
  border-radius: 4px;
  color: #045c55;
  padding: 0px 5px 0px 15px;
  // margin-left: 5px;
  background: #f1f3f4;
}

select:focus {
  outline: none;
}

// .dangerous.warning {
//   color: chocolate !important;
//   fill: chocolate !important;
//   border-color: #e3363655 !important;
//   background-color: #e336361a !important;
// }

// .dangerous.warning:active {
//   color: #9d2323 !important;
//   fill: #9d2323 !important;
//   border-color: #e3363665 !important;
//   background-color: #e336362a !important;
// }

button:disabled,
input[type='text']:disabled,
input[type='password']:disabled,
input[type='button']:disabled, 
.dangerous:disabled {
  color: #a4a7a7 !important;
  fill: #a4a7a7 !important;
  background-color: #c5c5c522 !important;
  border: 1px solid #06736a22 !important;
  cursor: default !important;
}

input[type='text']:disabled::placeholder,
input[type='password']:disabled::placeholder {
  color: #a4a7a7 !important;
}

.to-right {
  float: right;
}

div .left {
  float: left;
  // width: 40%;
  width: 100px;
  padding: 10px 0px 10px 10px;
}

div .right {
  // float: left;
  position: relative;
  display: inline-block;
  width: calc(100% - 130px);
  padding: 10px 10px 10px 0px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

div ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.title {
  color: #06736a;
  font-weight: normal;
  text-align: center;
  font-size: 25px;
  padding: 0px;
  margin: 30px 0 20px 0px;
}

label:hover, input:hover {
  cursor: pointer;
}

[hidden],
.hidden {
  display: none;
}

.invisible {
  visibility: hidden;
}

.sm-margin-top {
  margin-top: 5px !important;
}

.margin-top {
  margin-top: 10px !important;
}

.margin-bottom {
  margin-bottom: 10px;
}

.margin-bottom-lg {
  margin-bottom: 15px;
}

.margin-left {
  margin-left: 10px;
}

.margin-right {
  margin-right: 10px;
}

.no-margin-top {
  margin-top: 0px !important;
}

.no-margin-left {
  margin-left: 0px !important;
}

.title-info {
  margin-top: 10px;
}

.info {
  margin-top: 5px;
  margin-left: 5px;
}

.info div {
  margin-top: 5px;
}

.info span {
  font-style: italic;
  font-size: small;
  color: #045c55;
}

span.info {
  font-style: italic;
  color: #045c55;
}

.tip {
  opacity: 0.75;
}

.tab {
  margin-left: 15px;
}

.note {
  font-style: italic;
  font-size: small;
}

.row-wrap {
  width: 100%;
  margin-bottom: 10px;
  display: flex;
}

.row-wrap > * {
  margin-left: 4px;
  margin-right: 4px;
}

.row-wrap .small-space {
  margin-left: 3px;
  margin-right: 3px;
}

.row-wrap > *:first-child {
  margin-left: 0px;
}

.row-wrap > *:last-child {
  margin-right: 0px;
}

.row-wrap input[type='text'],
.row-wrap input[type='password'] {
  flex-grow: 1;
}

.error {
  color: #a32626;
  font-size: small;
  text-align: center;
  margin-top: 5px;
}

.error.global {
  width: calc(100% - 231px);
  /* text-align: end; */
  position: relative;
  margin-top: 0;
  padding: 0;
  float: left;
  line-height: 20px;
  margin-left: 99px;
}

.warning {
  color: chocolate !important;
}

.red {
  // background-color: #e33636 !important;
  fill: #e33636 !important;
}

.red-fill {
  background-color: #e33636 !important;
}

.green{
  background-color: #045c55 !important;
}

.yellow{
  background-color: chocolate !important;
}

.sync-indicator {
  cursor: default;
  z-index: 1;
}

// ----------------------------------
.button, 
.link {
  padding: 0px;
  margin: 0px;
  height:24px;
  width:24px;
  line-height: 24px;
  background: transparent;
  border: none;
  cursor: pointer;
  background-position: center;
  background-repeat: no-repeat;
  color: #06736a;
  fill: #06736a;
  outline: none;
  display: inline-block;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-family: 'Roboto', 'Ubuntu', Sans-Serif;
  text-decoration: none;
}

.button:hover,
.link:hover {
  color: #e33636;
  fill:#e33636;
  text-decoration: underline;
}

.button:active,
.link:active {
  color: #e3363685;
  fill:#e3363685;
}

.back {
  width: inherit;
  background-position: left;
  position: absolute;
  top: 0px;
  left: 0px;
  line-height: 26px;
  font-size: 13px;
}

.back svg {
  margin-top: 4px;
  margin-bottom: -4px;
  margin-left: 0px;
}

.locker {
  fill: #045c55;
  margin: 3px 0 -3px 0;
}

.locker path[name=unlocked-icon] {
  display: none;
}

.locker.unlocked path[name=locked-icon] {
  display: none;
}

.locker.unlocked path[name=unlocked-icon] {
  display: inherit;
}

@media only screen and (max-width: 600px) {
  html, body {
    width: 600px;
    height: 270px;
  }
}

.progress-bar {
  width: calc(100% - 150px);
  height: 4px;
  display: inline-block;
  border-radius: 4px;
  overflow: hidden;
  position: relative;
  border: 1px solid transparent;
}

.progress-bar .progress-thumb {
  float: left;
  display: inline-block;
  background-color: #045c55;
  border-radius: 4px;
  height: 100%;
  width: 0%;
  margin-top: 0px;
  margin-left: 0px;
}

.progress-background {
  width: 100%;
  height: 4px;
  background-color: #06736a74;
  border-radius: 4px;
  position: relative;
  top: 11px;
  overflow: hidden;
}

.progress-bar.animating {
  background-color: #045c5518;
}

.progress-bar .animate {
  width: 10%;
  position: absolute;
  top: 0px;
  background-color: #045c5575 !important;
  animation: in-progress 1.75s;
  border: 1px solid #eaf0ef;
  height: calc(100% - 2px);
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
}

.error-message {
  background-color: #ea8987dd;
  color: #9d2323;
  position: fixed;
  padding: 5px 10px;
  border-radius: 4px;
  border: 2px double #fed1d1;
  max-width: 35%;
  top: 10px;
  left: 50%;
  transform: translate(-50%);
  z-index: 1000;
  pointer-events: none;
}

ul.flat {
  text-align: end;
}

ul.flat li {
  display: inline-block;
  margin: 0 10px 0 0px;
}

ul li input[type="radio"]:checked+span {
  color: #045c55;
}

@keyframes in-progress
{
  0% {
    width: 25%;
    left: -25%;
	}
  75% {
    width: 15%;
		left: 85%;
	}
	100% {
    width: 0%;
		left: 100%;
	}
}
