<div name="details-view" class="details-view">
  <div name="details-controls" class="head">
    <button name="back" class="link back"><include src="./images/back.svg"></include>&nbsp;All Notes</button>
    <button name="cancel" class="link back cancel" hidden><include src="./images/back.svg"></include>&nbsp;Cancel</button>
    <fieldset class="controls-group" name="controls-group"><editor-controls name="controls"></editor-controls></fieldset>
    <button name="delete" class="button delete"><include src="./images/delete.svg"></include></button>
    <button name="create" class="button save" hidden><include src="./images/save.svg"></include></button>
  </div>
  <div name="content" class="content">
    <pre name="editor" class="editor" tabindex="2"></pre>
  </div>
</div>
