<div name="list-view" class="list-view disable-select">
  <div name="list-controls" class="list-controls">
    <span class="notes-title"></include> My Notes</span>
    <button name="create-note" class="button add">
      <include src="./images/pencil.svg"></include>
    </button>
  </div>
  <div class="list-content">
    <div name="placeholder" class="notes-placeholder">Put your story into notes...</div>
    <div name="scrollable" class="list-scroll">
      <div name="list-items" class="list-items"></div>
    </div>
  </div>
</div>
