<fieldset>
  <label class="checkbox"><input type="checkbox" name="mode"><span>Enable development mode</span></label>
  <div name="dev-info" class="info">
    <span>In order you need to send the logs to a developer, you will need to print the logs and copy all details into a
      ticket.</span>
    <br>
    <div class="margin-top">
      <span><a name="print-logs" href="#">print logs</a> - prints all system logs.</span><br>
      <span><a name="clear-logs" href="#">clear logs</a> - clears all system logs.</span><br>
      <div class="margin-top">
        <span><a name="print-cache" href="#">print cache</a> - prints all values in cached storage.</span><br>
        <span><a name="empty-cache" href="#">clear cache</a> - clears cached values.</span><br>
      </div>
      <div class="margin-top">
        <span><a name="print-db" href="#">print data</a> - prints all database storage.</span><br>
        <span class="warning"><a name="empty-db" href="#">clear all data</a> - clears all data including passphrase.
          Attention! This action is irreversible!</span><br>
      </div>
    </div>
  </div>
</fieldset>
